<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="./register.css" />
  </head>
  <body>
    <div class="container">
      <form>
        <h1>Register</h1>
        <input type="text" dir="ltr" name="name" placeholder="Name" />
        <input type="email" dir="ltr" name="email" placeholder="Email" />
        <input
          type="password"
          dir="ltr"
          name="password"
          placeholder="Password"
        />
        <input
          type="number"
          dir="ltr"
          name="number"
          placeholder="Phone Number"
        />
        <a href="../login/login.html">
          <button type="button" class="b2">Submit</button>
        </a>
      </form>
    </div>
  </body>
</html>
