<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./showcase.css" />
  </head>
  <body>
    <div class="container-fluid title">
      <h2>My Journal</h2>
    </div>

    <div class="container">
      <div class="journal">
        <h4>Journal 1</h4>
        <a href="journal.html">
          <button>open</button>
        </a>
      </div>
      <div class="journal">
        <h4>Journal 2</h4>
        <a href="journal.html">
          <button>open</button>
        </a>
      </div>
      <div class="journal">
        <h4>Journal 3</h4>
        <a href="journal.html">
          <button>open</button>
        </a>
      </div>
    </div>
  </body>
</html>
